@using MAA.ActionTracking.Data.Entities
@model ForgotPasswordViewModel
@inject Tenant CurrenTenant
@{
    ViewData["Title"] = "Forgot your credentials?";
}

<h2 hidden>@ViewData["Title"]</h2>
<p hidden>
    For more information on how to enable reset password please see this <a href="https://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
</p>

<div class="h-100 flex-grow justify-content-center align-items-center">
    <section>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-wrapper">
                <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal flex-fill  justify-content-center align-items-center container">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />                        
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span class="text-center">You will be sent a new activation link</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Send Me My Credentials</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
