@{
    ViewData["Title"] = "Credentials Sent";
}

<h2 hidden>@ViewData["Title"].</h2>
<p class="text-center text-success">
    An E-Mail has been sent to your account, please check your inbox for further details.
</p>
