@using MAA.ActionTracking.Data.Entities
@inject SignInManager<TenantUser> SignInManager
@inject Tenant CurrenTenant
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<h2 hidden>@ViewData["Title"].</h2>

<div class="h-100 flex-grow justify-content-center align-items-center">
    <section>
        <div class="d-flex justify-content-center align-items-center">
            <div class="form-wrapper">
                <form asp-controller="Account" asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal flex-fill  justify-content-center align-items-center container">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group" hidden>
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="ccontrol-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Reset Your Password</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
