@using MAA.ActionTracking.Models
<!--Modal header-->
@await Html.PartialAsync("Common/Modal/_Header", new ModalViewModel { Size = "lg", Name = "system-variable", Title = "Manage System Variable" })
<!--Modal body-->
<form class="horizontal-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h3 class="section-header pt-0">System Variable</h3>
            </div>
        </div>
    </div>

    <div class="form-group row form-row align-items-center">
        <div class="col-md-4 text-right">
            <label for="system-variable-name" class="required">Name</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" data-bind="value: Name" required data-required-message="System Variable name is required">
        </div>
    </div>
    <div class="form-group row form-row align-items-center">
        <div class="col-md-4 text-right">
            <label for="system-variable-value" class="required">Value</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" data-bind="value: Value" required data-required-message="System Variable value is required">
        </div>
    </div>

</form>
<!--Modal footer-->
@await Html.PartialAsync("Common/Modal/_Footer",  new FooterViewModel { ShowSaveAndNew = true })
