@using MAA.ActionTracking.Web.Infrastructure.Services
@inject SystemVariableService _systemVariableService
@{
    ViewData["Title"] = "SystemVariables";  
}

<!--SystemVariables-->
<div class="row">
    <div class="col-md-12">

        @await Html.PartialAsync("_List")
       
    </div>
</div>

<!--Manage Currency-->
@await Html.PartialAsync("_Manage")

@section Scripts{

    <script type="text/javascript">

        var viewModelJs = @Json.Serialize(await _systemVariableService.GetModel());

        $.extend(viewModelJs, { controller: 'SystemVariable', idField: "Id", resetIgnore: [], mappingIgnore: [] });

    </script>

    <!--app scripts-->
    <script src="~/js/administration/systemvariables/variable-view-model.js"></script>
    <script src="~/js/administration/systemvariables/variables.js"></script>
}