        </div><!--modal-body ends-->
<div class="modal-footer custom-footer">
    <div class="pager"></div>
    <div class="modal-footer-actions">
        <button type="button" class="btn btn-link btn-cancel btn-sm" data-icon="mdi mdi-close-box" data-processing-text="Cleaning up...">
            Cancel
        </button>
        <button type="button" class="btn btn-primary btn-save btn-sm" data-icon="mdi mdi-@(string.IsNullOrEmpty(Model.ActionButtonIcon) ? "content-save" : Model.ActionButtonIcon)" data-processing-text="@(Model.ActionButtonProcessingText==null ?"Saving..." : Model.ActionButtonProcessingText)">
            <i class="mdi mdi-@(string.IsNullOrEmpty(Model.ActionButtonIcon) ? "content-save" : Model.ActionButtonIcon) mr-1"></i>@(Model.ActionButtonText == null ? "Save" : Model.ActionButtonText)
        </button>
        @if (Model?.ShowSaveAndNew ?? false)
        {
            <button type="button" class="btn btn-success btn-save-new btn-sm" data-icon="mdi mdi-library-plus" data-processing-text="Saving...">
                <i class="mdi mdi-library-plus mr-1"></i>Save & New
            </button>
        }
    </div>
</div>
    </div><!--modal-cotnent ends-->
    </div><!--modal-dialog ends-->
</div><!--modal ends-->
